/* Author Michael Lux */


/*start of sass variables*/
$font-heading:    'Domine', serif;
$font-content:	  'Montserrat', sans-serif;
$page-color: rgb(255,255,255);


.titles {
	font-family: $font-heading;
}

.content{
	font-family: $font-content;
}

.wholeDoc {
	background-color: $page-color;
}
.brand-logo{
	margin-left: 5%;
}

#pictureAndDescriptionRow{ 
	margin-top: 10%;
}

#social_media .responsive-img{
	width: 100%;
	height: auto;
}
#mid_heading {
	font-weight: bold;
	font-style: oblique;
}

#job_name {
	font-weight: lighter;
	font-style: italic;	
}
   
#skills_learned {
	font-size: 150%;
}

.divider {
	margin-top: 5%;
	margin-bottom: 5%;
}

.spacer {
	padding-top:	5%;
	padding-bottom: 5%;
}
